@import "../../utililties/theme.scss";

.all-work {
  .projects {
    flex-direction: column;
    flex-flow: wrap;
    .project {
      width: calc(33.33% - 16px);
      margin-right: 24px;
      margin-bottom: 24px;

      .info {
        width: fit-content;
      }

      &:nth-of-type(3n) {
        margin-right: 0;
      }
    }
  }

  @include xxl {
    .projects {
      .project {
        width: calc(50% - 12px);
        height: 550px;

        &:nth-of-type(2n) {
          margin-right: 0 !important;
        }

        &:nth-of-type(3n) {
          margin-right: 24px;
        }
      }
    }
  }

  @include md {
    .projects {
      .project {
        width: 100%;
        margin-right: 0 !important;
        height: 550px;
      }
    }
  }
}
