@import "../../utililties/theme.scss";

.case-studies {
  h5 {
    text-transform: uppercase;
    margin: {
      top: 0;
      bottom: 6px;
    }
  }

  h2 {
    margin: {
      top: 0;
      bottom: 0;
    }
  }
  .grid {
    padding-top: 48px;
    .case-study {
      min-height: 700px;
      width: 100%;
      position: relative;
      overflow: hidden;

      &:hover {
        img {
          transform: scale(1.1);
        }

        .overlay {
          background-color: #000000ab;
        }

        .info {
          opacity: 1;
          transform: translate(-50%, -50%);
        }
      }

      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: background-color 0.25s ease-in-out;
        z-index: 1;
        background-color: #00000063;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
        transition: transform 3s ease-out 0s;
      }

      .info {
        opacity: 0;
        transform: translateY(15px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        padding: 24px;
        color: white;
        z-index: 2;
        transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;

        .title {
          margin: 0;
          padding-bottom: 12px;
          text-align: center;
        }

        .more {
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin: 0;
            margin-right: 10px;
            text-transform: uppercase;
            letter-spacing: 0.5em;
            font-weight: 500;
          }

          svg {
            line,
            path {
              stroke: white;
            }
          }
        }
      }
    }
  }

  @include xl {
    .grid {
      .case-study {
        min-height: 500px;
      }
    }
  }
}
