@import "../../utililties/theme.scss";

.sidebar {
  left: 0px;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 99;

  .click-off[data-active="true"] {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}

.menu-button {
  background-color: $bg-color;
  position: relative;
  height: 100%;
  width: 80px;
  transition: background-color 0.25s ease;
  z-index: 10;
  overflow: hidden;

  &:hover {
    background-color: $off-black;
    cursor: pointer;
  }

  &[data-active="true"] {
    background-color: $off-black;
  }
}

.logo-full {
  width: 150px;
  position: absolute;
  top: 45px;
  left: 100px;
  transform: translateX(0px);
  transition: transform 800ms cubic-bezier(0.5, 0, 0.25, 1) 0s,
    color 750ms ease 0s, opacity 250ms ease;
  z-index: 10;
  transition-delay: 500ms;

  &[data-active="false"] {
    opacity: 0;
    transition-delay: 0ms;
  }
}

.side-logo {
  width: 34px;
  height: 43px;
  z-index: 100;
  transition: transform 750ms ease;
  transition-delay: 0 !important;

  &[data-active="false"] {
    opacity: initial;
    transform: translateX(0px);
  }

  &[data-active="true"] {
    transform: translateX(-78px);
    opacity: 1;
  }
}

/* The side navigation menu */
.sidebar-menu {
  height: 100%; /* 100% Full-height */
  width: calc(50% - 80px);
  transform: translateX(calc(-100% - 80px));
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 80px;
  background-color: $off-black; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
  transition: 750ms ease 0s;
  color: white;

  &[data-active="true"] {
    padding-left: 20px;
    transform: translateX(0%);

    ul.main li {
      h2 {
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 150ms;
      }

      &:nth-of-type(2) h2 {
        transition-delay: 350ms;
      }

      &:nth-of-type(3) h2 {
        transition-delay: 550ms;
      }

      &:nth-of-type(4) h2 {
        transition-delay: 750ms;
      }
    }
  }

  nav {
    display: inline-flex;
    flex-direction: column;

    ul {
      padding-left: 0;
      display: inline-flex;
      flex-direction: column;

      li {
        list-style: none;
        display: inline-block;
        cursor: pointer;

        h2,
        h5 {
          display: flex;
          align-items: center;

          svg {
            margin-left: 24px;
            opacity: 0;
            transform: translateX(-20px);
            transition: transform 750ms cubic-bezier(0, 0, 0.11, 0.99) 0ms,
              opacity 750ms ease;

            line,
            path {
              stroke: white;
            }
          }

          &:hover {
            svg {
              opacity: 1;
              transform: translateX(0px);
            }
          }
        }

        h2 {
          opacity: 0;
          transform: translateY(60px);
          transition: transform 750ms cubic-bezier(0, 0, 0.11, 0.99) 0ms,
            opacity 750ms ease;
          margin: {
            top: 48px;
            bottom: 12px;
          }
          text-transform: uppercase;
        }

        p {
          margin: 0;
        }
      }
    }

    .sub {
      margin-top: 72px;

      h5 {
        margin-top: 0;
        margin-bottom: 12px;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}

@include lg {
  .sidebar {
    height: 60px;
    width: 100%;

    .menu-button {
      height: 60px;
      width: 100%;

      #ham-container {
        right: -12px;
        bottom: auto;
        left: initial;
        transform: none;

        .ham {
          height: 60px;
        }
      }
    }

    .sidebar-menu {
      left: 0;
      width: 100%;
      padding-left: 40px;
    }
  }
  .logo-full {
    left: 12px;
    top: 8px;
    z-index: 11;

    &.side-logo {
      transform: none;
    }
  }
}

@include sm {
  .sidebar-menu {
    padding-top: 60px;
    height: -webkit-fill-available;
    padding-left: 24px !important;

    ul.main {
      li {
        &:first-of-type h2 {
          margin-top: 10px;
        }
      }
    }
  }
}
