@import "../../utililties/theme.scss";

.blog-posts {
  padding-bottom: 4rem;
  padding-left: 24px;
  padding-right: 24px;

  @include sm {
    padding: {
      left: 0;
      right: 0;
    }
  }

  .filters {
    display: flex;
    padding-top: 4rem;
    border-bottom: 2px solid;
    margin-bottom: 1rem;

    @include sm {
      display: block;
    }

    .filter {
      text-transform: uppercase;
      font-family: $main-font;
      font-size: 24px;
      padding-right: 45px;
      padding-bottom: 10px;
      position: relative;

      &.selected {
        color: $primary-color;
      }

      input {
        appearance: none;
        height: 100%;
        position: absolute;
        width: calc(100% - 25px);
        cursor: pointer;
        border: none;
      }
    }
  }

  .card {
    height: fit-content;
    padding-bottom: 10px;

    &:first-of-type {
      padding-right: 10px;
    }

    &:nth-child(3n + 1) {
      padding-right: 16px;
    }
    &:nth-child(3n + 2) {
      padding-right: 8px;
      padding-left: 8px;
    }
    &:nth-child(3n + 3) {
      padding-left: 16px;
    }

    &:nth-of-type(3n) {
      padding-right: 0px;
    }

    @include lg {
      padding: 0;
      padding-bottom: 24px;

      &:nth-child(2n + 1) {
        padding-right: 12px;
      }

      &:nth-child(2n) {
        padding-left: 12px;
        padding-right: 0;
      }
      &:nth-child(3n + 3) {
        padding-left: 0;
      }
    }

    @include md {
      &:nth-child(3n + 3) {
        padding-left: 0px;
      }
      &:nth-child(2n) {
        padding-left: 12px;
      }
    }

    @include sm {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  .iso-wrapper > div {
    margin: {
      left: -10px;
      right: -10px;
    }

    .post-card {
      height: 100%;
    }
  }

  .pagination {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .arrow {
      color: $primary-color;
      height: 25px;
      width: 25px;
      cursor: pointer;
      margin: 0 5px;

      &.disabled {
        cursor: inherit;
        color: #939393;
      }
    }

    .pagination-item {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
      color: white;
      padding: 8px 15px;
      font-size: 18px;
      margin: 0 5px;
      font-family: $secondary-font;
      font-weight: 500;
      border-radius: 4px;

      &.active {
        background-color: white;
        color: $secondary-color;
      }

      &:hover {
        background-color: white;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
