@import "../utililties/theme.scss";

.image-card {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  > div {
    width: 100%;
    height: 100%;
  }

  &:not(:last-of-type) {
    margin-right: 24px;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
    .overlay {
      background-color: #000000ab;
    }
    .info .title {
      transform: translateY(-48px);
    }

    .info .more {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  img {
    transition: transform 3s ease-out 0s;
    height: -webkit-fill-available;
    width: inherit;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: background-color 0.25s ease-in-out;
    z-index: 1;
    background-color: #00000063;
  }

  .info {
    position: absolute;
    width: -webkit-fill-available;
    bottom: 0;
    padding: 24px;
    color: white;
    z-index: 2;

    .title {
      margin-bottom: 24px;
      transition: transform 0.25s ease-in-out;
    }

    .more {
      opacity: 0;
      margin-top: 0;
      transform: translateY(15px);
      transition: opacity 0.5s ease, transform 0.25s ease-in-out;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      font-weight: 500;
      display: flex;
      align-items: center;

      p {
        position: absolute;
        bottom: 0;
      }

      svg {
        margin-left: 10px;
      }
    }
  }

  @include xl {
    height: 450px;
  }

  @include lg {
    height: 350px;
  }

  @include md {
    margin-bottom: 24px;
    height: 550px;
  }
}
