@import "../../utililties/theme.scss";

.process {
  padding: 24px;
  padding-bottom: 48px;
  color: $off-black;

  h5 {
    text-transform: uppercase;
    margin: {
      top: 0;
      bottom: 6px;
    }
  }

  h2 {
    margin: {
      top: 0;
      bottom: 48px;
    }
  }

  .items {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      line-height: 2;

      &:nth-of-type(even) {
        justify-content: flex-end;
      }

      > div {
        width: 50%;

        @include md {
          width: 100%;
        }
      }

      .number {
        font-weight: 700;
      }
    }
  }
}
