@import "../../utililties/theme.scss";

.process {
  padding: 24px;
  padding-bottom: 48px;
  color: $off-black;
  background-color: white;

  h5 {
    text-transform: uppercase;
    margin: {
      top: 0;
      bottom: 6px;
    }
  }

  h2 {
    margin: {
      top: 0;
      bottom: 48px;
    }
  }

  .cols {
    display: flex;
    flex-flow: wrap;

    > div {
      width: calc(50% - 48px);
    }

    .summary {
      padding-right: 48px;
    }

    .collapsibles {
      padding-left: 48px;

      h6 span {
        font-weight: bold;
      }

      .collapsible {
        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }

  @include lg {
    .cols {
      > div {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .collapsibles {
        padding-top: 24px;
      }
    }
  }
}
