@import "../../utililties/theme.scss";

.story {
  padding: 24px;
  padding-bottom: 48px;
  color: $off-black;

  h5 {
    text-transform: uppercase;
    margin: {
      top: 24px;
      bottom: 12px;
    }
  }

  h2 {
    margin: {
      top: 0;
      bottom: 48px;
    }
  }

  .images {
    padding-top: 48px;
    display: flex;

    .img-container {
      max-width: calc(33.3% - 16px);
      position: relative;

      img {
        width: 100%;
      }
    }

    .divider {
      width: 24px;
    }
  }

  @include lg {
    .images {
      flex-direction: column;
    }
    .img-container {
      max-width: 100% !important;
      padding-bottom: 24px;
    }
  }

  @include sm {
    padding: 0;
  }
}
