@import "../../utililties/theme.scss";

.team {
  padding: 24px;
  padding-bottom: 48px;
  color: $off-black;
  background-color: white;

  h5 {
    text-transform: uppercase;
    margin: {
      top: 24px;
      bottom: 12px;
    }
  }

  h2 {
    margin: {
      top: 0;
      bottom: 48px;
    }
  }

  .members {
    display: flex;
  }

  @include xl {
    .members {
      flex-flow: wrap;

      .image-card {
        width: calc(50% - 12px);
        margin-bottom: 24px;
        height: 650px;

        &:not(:first-of-type) {
          margin-right: 0;
        }
      }
    }
  }

  @include md {
    .members {
      flex-direction: column;

      .image-card {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  @include sm {
    .members {
      .image-card {
        height: 500px;
      }
    }
  }
}
