@import "../../utililties/theme.scss";

.hero {
  background-color: white;
  position: relative;
  height: calc(100vh - 48px);

  .hero-container {
    height: -webkit-fill-available;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;

    @include xxl {
      max-width: 1000px;
    }

    @include xl {
      max-width: 100%;
    }

    .top {
      flex-grow: 1;
      display: flex;
      max-width: 1000px;
      align-items: center;
    }

    h1 {
      font-family: $main-font;
      font-size: 80px;
      font-weight: 600;
      margin: {
        top: 0;
        bottom: 0;
      }
      line-height: 1.2;

      .highlight {
        color: $primary-color;
        font-weight: 700;
      }
    }
  }

  .quick-links {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 24px;

    a {
      max-width: 300px;

      &:not(:last-of-type) {
        margin-right: 75px;
      }

      &:hover {
        svg {
          opacity: 1;
          transform: translateX(0);
        }
      }

      h5 {
        text-transform: uppercase;
        margin: 0;
      }

      p {
        line-height: 2;
        padding: {
          top: 12px;
          bottom: 12px;
        }
        margin: 0;
      }

      svg {
        opacity: 0;
        transform: translateX(-15px);
        transition: opacity 0.5s ease, transform 0.25s ease-in-out;

        line,
        path {
          stroke: black;
        }
      }
    }
  }

  .explore {
    position: absolute;
    bottom: 24px;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;

    p {
      transform: rotate(-90deg);
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 24px;
      font-weight: 600;
    }

    .line {
      height: 175px;
      border: 1px solid black;
      margin-top: 12px;
    }
  }

  .social {
    position: absolute;
    bottom: 24px;
    right: 24px;

    .social-icon {
      border-radius: 50%;
      height: 45px;
      width: 45px;
      background-color: $secondary-purple;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: $primary-color;
      cursor: pointer;
      transition: color 0.15s ease, background-color 0.15s ease;

      &:hover {
        background-color: $primary-color;
        color: white;
      }

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  @include lg {
    min-height: calc(100vh - 48px);
    height: auto;

    .hero-container {
      min-height: calc(100vh - 48px);
    }

    .explore {
      display: none;
    }

    .quick-links {
      justify-content: start;
      padding-top: 72px;
    }
  }

  @include md {
    .hero-container h1 {
      font-size: 70px;
    }
    .social {
      position: relative;
      padding: 24px 8.33%;
      bottom: inherit;
      right: inherit;
      display: flex;

      .social-icon {
        margin-right: 12px;
      }
    }
  }

  @include sm {
    .hero-container {
      h1 {
        font-size: 40px;
      }

      .quick-links {
        flex-direction: column;

        a {
          margin-right: 0 !important;

          &:first-of-type {
            padding-bottom: 24px;
          }
        }
      }
    }
  }

  @include xs {
    .hero-container h1 {
      font-size: 30px;
    }
  }
}
