@import "../../utililties/theme.scss";

.services {
  padding: 24px;

  .top {
    h5 {
      text-transform: uppercase;
      margin: {
        bottom: 12px;
        top: 0;
      }
    }

    h2 {
      margin: {
        top: 0;
        bottom: 48px;
      }
    }
  }

  .cards {
    display: flex;
    .service {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 450px;
      cursor: pointer;
      transition: all 0.25s ease;

      > div {
        background-color: $off-black;
        padding: 36px;
        height: 100%;
        display: flex;
        flex-direction: column;
        color: white;
      }

      &:not(:last-of-type) {
        margin-right: 24px;
      }

      &:hover {
        > div {
          background-color: white;
          color: $off-black;
        }

        box-shadow: 10px 20px 35px #00000029;

        p {
          opacity: 1;
          transform: translateY(0px);
          transition: transform 0.5s ease-in-out, opacity 0.5s ease;
        }

        .bottom .more {
          opacity: 1;
          transform: translateX(0);
          transition: transform 0.5s ease-in-out, opacity 0.5s ease;
        }
      }

      .title {
        font-weight: 500;
        margin: 0;
      }

      p {
        flex-grow: 1;
        margin: {
          top: 36px;
          bottom: 36px;
        }
        line-height: 2;
        opacity: 0;
        transform: translateY(15px);
        transition: opacity 0s ease;
      }

      .bottom {
        display: flex;
        align-items: center;

        .number {
          font-weight: 600;
          font-family: $main-font;
          font-size: 26px;
          flex-grow: 1;
        }

        .more {
          opacity: 0;
          transform: translateX(-15px);
          text-transform: uppercase;
          transition: opacity 0s ease;
          font-family: $main-font;
          font-weight: 500;
          display: flex;
          align-items: center;

          svg {
            margin-left: 10px;
            line,
            path {
              stroke: $off-black;
            }
          }
        }
      }
    }
  }

  @include xxl {
    .cards {
      flex-direction: column;
      flex-flow: wrap;

      .service {
        width: calc(50% - 12px);
        margin-bottom: 24px;

        &:nth-of-type(odd) {
          margin-right: 12px;
        }

        &:nth-of-type(even) {
          margin-left: 12px;
          margin-right: 0;
        }
      }
    }
  }

  @include md {
    .cards .service {
      width: 100%;
      margin: {
        left: 0 !important;
        right: 0 !important;
        bottom: 24px;
      }
    }
  }

  @include sm {
    padding: 0;
    .cards .service {
      min-height: 400px;

      > div {
        background-color: white;
        color: $off-black;

        p {
          opacity: 1;
          transform: none;
        }

        .more {
          opacity: 1 !important;
          transform: none !important;
        }
      }
    }
  }

  @include xs {
    .bottom {
      flex-direction: column;

      .number,
      .more {
        width: 100%;
      }

      .more {
        padding-top: 24px;
      }
    }
  }
}
