@import "../../utililties/theme.scss";

.toolkit-grid {
  padding: 24px;
  color: $off-black;

  h5 {
    text-transform: uppercase;
    margin: {
      top: 0;
      bottom: 6px;
    }
  }

  h2 {
    margin: {
      top: 0;
      bottom: 48px;
    }
  }

  .grid {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 96px;

    .img-container {
      width: calc(25% - 96px);
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 48px;
    }

    img {
      height: auto;
      max-width: -webkit-fill-available;
      max-height: 100%;
      filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%);

      &:hover {
        filter: none;
        cursor: pointer;
        transition: filter 0.15s ease-in-out;
      }
    }

    @include md {
      .img-container {
        width: calc(50% - 96px);
      }
    }

    @include sm {
      .img-container {
        width: 100%;
      }
    }
  }
}
