@import "../../utililties/theme.scss";

.blog_post {
  .default-header {
    position: relative;
  }
  .content {
    .common {
      font-size: 100px !important;
      margin-bottom: -40px !important;

      @include lg {
        font-size: 80px !important;
        margin-bottom: -30px !important;
      }

      @include md {
        font-size: 60px !important;
        margin-bottom: 0px !important;
      }

      @include sm {
        font-size: 38px !important;
      }

      @include xs {
        font-size: 30px !important;
      }
    }
    .custom {
      font-size: 66.66px !important;

      @include lg {
        font-size: 52.8px !important;
      }

      @include md {
        font-size: 39.6px !important;
        margin-top: -20px !important;
      }

      @include sm {
        font-size: 25.08px !important;
        margin-top: -10px !important;
      }

      @include sm {
        font-size: 19.8px !important;
      }
    }
  }
  .bottom {
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .link-container {
    h5 {
      color: $secondary-color;
      margin: 0;
    }
  }
  .overview {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h5 {
      color: $secondary-color;
      margin: 0;
      text-transform: uppercase;
      margin-right: 10px;
    }

    .social-icon {
      margin-right: 10px;
      border-radius: 50%;
      height: 45px;
      width: 45px;
      background-color: $secondary-purple;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      color: $primary-color;
      cursor: pointer;
      transition: color 0.15s ease, background-color 0.15s ease;

      &:hover {
        background-color: $primary-color;
        color: white;
      }

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  .post-image {
    padding: 4rem 0;
    text-align: center;

    img {
      height: auto;
      width: auto;
      max-width: 100%;
    }
  }

  .post-body {
    background-color: white;
  }

  .related {
    h5 {
      text-transform: uppercase;
      margin-top: 24px;
      margin-bottom: 12px;
    }

    .related-posts {
      display: flex;

      > div {
        width: calc(33.3% - 24px);
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &:not(:last-of-type) {
          margin-right: 24px;
        }
      }

      .post-card {
        height: 600px;
      }
    }
  }

  .body-content {
    img {
      max-width: 100%;
      margin: 0;
    }

    figcaption {
      text-align: center;
      padding-top: 12px;
      color: $secondary-color;
    }
    figure {
      text-align: center;
    }
  }

  @include xl {
    .bottom {
      .link-container {
        order: 2;
      }
      .overview {
        order: 1;
        justify-content: flex-start;
        padding-top: 48px;
      }
    }

    .related {
      .related-posts {
        flex-direction: column;
        flex-flow: wrap;

        .post-container {
          &:nth-of-type(odd) {
            margin-right: 24px !important;
          }
          &:nth-of-type(even) {
            margin-right: 0px !important;
          }
        }
      }
    }

    .related-posts > div {
      width: calc(50% - 12px) !important;
    }
  }

  @include lg {
    .overview {
      justify-content: start;
    }
  }

  @include md {
    .related-posts {
      > div {
        width: 100% !important;
        margin-bottom: 24px;
      }
    }

    .related .related-posts {
      .post-container {
        &:nth-of-type(odd) {
          margin-right: 0 !important;
        }
        &:nth-of-type(even) {
          margin-right: 0 !important;
        }
      }
    }
  }

  @include xl {
    .default-header {
      flex-flow: column;
    }
    .middle {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      flex-grow: 1;
    }
    .bottom {
      height: min-content;
      position: relative;
    }
    .overview {
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
      padding-bottom: 0 !important;

      h5 {
        width: 100%;
      }

      h5,
      .social-icon {
        margin-bottom: 12px;
      }
    }
  }
}
