@import "../../utililties/theme.scss";

.case-study {
  section {
    h5 {
      text-transform: uppercase;
      margin: 0;
    }

    &.image {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 100%;
      }
    }

    &.testimonial {
      > div {
        display: flex;
      }

      h5 {
        margin: 0;
        padding-bottom: 6px;
      }

      h1 {
        margin: 0;
      }

      .left {
        .body {
          padding-top: 48px;
          font-style: italic;
        }
      }

      .right {
        padding-left: 96px;
        padding-top: 24px;
      }
    }
  }

  @include xl {
    .testimonial {
      > div {
        flex-direction: column;
      }

      .right {
        padding-left: 0 !important;
        padding-top: 48px !important;
        padding-bottom: 24px;
        margin: auto;
      }
    }
  }

  @include sm {
    .middle {
      padding-bottom: 48px !important;
    }
  }
}
